.text_header {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 58px;
    color: coral;
}

.parent {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

#header {
    display: flex;
    margin-top: 70px;
    margin-bottom: 120px;
}
#headerTextContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 50px;
}
#welcomeText {
    margin-bottom: 30px;
}
.text_title_green {
    color: #547272;
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 20px;
}
#mainImg {
    width: 55%;
}

#line {
    height: 3px;
    background-color: #547272;
    margin-bottom: 30px;
}

#btn_container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding: 10px;
    padding-top: 30px;
}
.btn_tile {
    background-color: white;
    width: 50%;
    height: 170px;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 28px;
    box-shadow: 10px 10px coral;
    cursor: pointer;
}
#btnLeft {
    margin-right: 50px;
}
.btn_img {
    vertical-align: middle;
    width: 15%;
    float: left;
    margin-left: 20px;
    margin-right: 8%;
}

@media (max-width: 1250px) {
    .text_header {
        font-size: 48px;
    }
    .text_title_green {
        font-size: 18px;
        margin-bottom: 15px;
    }
    #mainImg {
        width: 45%;
    }
    .btn_tile {
        height: 150px;
        font-size: 19px;
    }
}
@media (max-width: 730px) {
    .text_header {
        font-size: 38px;
    }
    .text_title_green {
        font-size: 15px;
    }
    #mainImg {
        width: 35%;
    }
    .btn_tile {
        height: 130px;
        font-size: 15px;
    }
}