body {
    background: #DBDBDB;
}

#text {
    /**display: table;**/
    position: relative;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 58px;
}

.parent {
    width: 100%;
    height: 100%;
}

#upTile {
    text-align: center;
    padding-top: 50px;
}

#downTile {
    text-align: end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#settingsTile {
    width: 80%;
    height: 80%;
    /* margin-left: auto;
    margin-right: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

#btnBack {
    position: absolute;
    top: 25px;
    right: 40px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

#btnBack::before,
#btnBack::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: coral;
}

#btnBack::before {
    transform: rotate(45deg);
}

#btnBack::after {
    transform: rotate(-45deg);
}

.rules {
    position: relative;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    text-align: left;
}

#middleTile {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

#btnNext,
#btnPlay {
    background-color: coral;
    color: white;
    border: none;
    border-radius: 22px;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 30%;
    height: 50px;
    align-items: center;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

.operation {
    position: relative;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

#selectID {
    width: 220px;
    height: 40px;
    margin-top: 20px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

.slidecontainer {
    margin-top: 10px;
    width: 50%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: coral;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: coral;
    cursor: pointer;
}