body {
    background: #DBDBDB;
}

.text_header {
   font-family: 'Inter';
    font-weight: 500;
    font-size: 58px;
}

.parent {
    padding: 60px;
    padding-left: 120px;
    padding-right: 120px;
}

#upTile {
    text-align: center;
    padding-top: 50px;
}

#downTile {
    text-align: end;
    padding: 30px;
    display: flex;
    justify-content: center;
    padding-right: 0;
    padding-right: 30px;
}

.btn_down_tile {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}

.before_range, .after_range {
    width: 30%;
    font-family: 'Inter';
    font-weight: 300;
}
.before_range {
    margin-right: 5%;
}
.after_range {
    margin-left: 5%;
}

#settingsTile {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 635px;
    position: relative;
}

#btnBack {
    position: absolute;
    top: 25px;
    right: 40px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

#btnBack::before,
#btnBack::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: coral;
}
#btnBack::before {
    transform: rotate(45deg);
}
#btnBack::after {
    transform: rotate(-45deg);
}

.rules {
    position: relative;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

#middleTile {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.btn_default {
    background-color: coral;
    color: white;
    border: none;
    border-radius: 8px;
    width: 30%;
    height: 50px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

.operation {
    position: relative;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.dropdown {
    width: 220px;
    height: 40px;
    margin-top: 20px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

.slidecontainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: coral;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: coral;
    cursor: pointer;
}

@media (max-width: 1250px) {
    .text_header {
        font-size: 48px;
    }
    #workness {
        word-break: break-all;
    }
}
@media (max-width: 730px) {
    .text_header {
        font-size: 38px;
        word-break: break-all;
    }
    .before_range, .after_range {
        word-break: break-all;
    }
    #workness {
        word-break: break-all;
    }
}